default: &default
  adapter: postgresql

development:
  adapter: mysql2
  pool: 25
  encoding: utf8mb4
  host: 127.0.0.1
  username: root
  password: 
  database: poli-prueba

test: &test
  <<: *default
  database: poli-prueba

production:
  adapter: postgresql
  encoding: utf8mb4
  database: d3sk9kmipfn5f6
  username: vwdbzxpfstbzgf
  password: a93ec65bcd7366754e2d218336b2006717300297daeeef54d8f26140dc22226c
  host: ec2-3-231-46-238.compute-1.amazonaws.com
  port: 5432

cucumber:
  <<: *test