default: &default
  adapter: mysql2
  pool: 25
  encoding: utf8mb4
  host: 127.0.0.1
  username: root
  password: 

development:
  <<: *default
  database: poli-prueba

test: &test
  <<: *default
  database: poli-prueba

production:
  adapter: postgresql
  encoding: utf8mb4
  database: db26i3nsrml1bj
  username: houggtvrjeulrk
  password: f0546b08972601bfd8dbe26dd59327192ad2189a01d0b6c8362a75a7107cf62b
  host: ec2-18-213-176-229.compute-1.amazonaws.com
  port: 5432

cucumber:
  <<: *test